*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
}

.container{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.container img{
    width: 200px;
}

.one:active{
    transform: translateY(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.two:active{
    transform: translateY(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.container h2{
    text-align: center;
}

#kk{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}

#kk:active{
    transform: translateY(2px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}